npm-debug.log
.dockerignore
.git
.gitignore

# Uncompiled Typescript files
src/

# Dependency directories
node_modules/

# IDE and editor files
.vscode/
.idea/
*.sublime-*
*.swp
migrate-mongo-config.js
# Logs
logs/
*.log
npm-debug.log*