/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #040201;
    color: #fefcfb;
    line-height: 1.6;
    margin: 0;
}

.container {
    max-width: 80%;
    margin: 0 auto;
    padding: 20px;
    overflow: hidden;
}

section + section {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

/* Custom input field */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    outline: none;
    background-color: #fefcfb;
    color: #040201;
}

/* Custom button */
button {
    padding: 10px 20px;
    background-color: #b36242;
    color: #fefcfb;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

button:hover {
    background-color: #995438;
}

/* Animations */
section {
    padding: 20px;
    margin-bottom: 20px;
    background-color: #1e100b;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform-origin: center;
    animation: fadeInScale 1s ease-in-out;
}

@keyframes fadeInScale {
    0% {
        opacity: 0;
        transform: scale(0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

/* Center headers */
h2 {
    text-align: center;
}

/* Center buttons */
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Move input labels to the left */
label {
    text-align: left;
    display: block;
    margin-bottom: 5px;
}

/* Reduce width of input fields */
input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    max-width: 300px; /* Adjust the value to control the width */
}

/* Add some swag! */
button {
    text-transform: uppercase;
    letter-spacing: 2px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
    transition: 0.2s;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}


nav {
    background-color: #995438;
    color: #fefcfb;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

nav p.logo {
    font-size: 1.5rem;
    margin: 0;
}

nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin: 0;
}

nav ul li {
    margin-right: 20px;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    color: #fefcfb;
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
}

nav ul li a:hover {
    color: #b36242;
}

