npm-debug.log
.git
.gitignore

# Uncompiled Typescript files


# Dependency directories
**/node_modules/
./node_modules/
../../**/node_modules/

# IDE and editor files
.vscode/
.idea/
*.sublime-*
*.swp

# Logs
logs/
*.log
npm-debug.log*